@font-face {
  font-family: 'MyFont';
  src:  url('./fuentes/dancingscript-regular-webfont.woff2') format('woff2'),
        url('./fuentes/dancingscript-regular-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
body{
  background: red;
}
.hola{
  color: navy;
  font-family: 'MyFont';
  font-size: 10rem;
  text-align: center;
}
